<h2>Edit <%= schema.human_singular %></h2>

<%%= render "form.html", changeset: @changeset,
                        action: <%= schema.route_helper %>_path(@conn, :update, @<%= schema.singular %>) %>

<span class="pull-right">
  <%%= link "Delete",
       to: <%= schema.route_helper %>_path(@conn, :delete, @<%= schema.singular %>),
       method: :delete,
       data: [confirm: "Are you sure?"],
       class: "btn btn-danger" %>
</span>
